.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlayColor);
  backdrop-filter: blur(.125rem);
  top: 0;
  left: 0;
}

.modal__container {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0px .375rem .375rem var(--boxShadow);
  padding: 2rem 1.5rem;
}

.modal_opened {
  display: flex;
}

.modal_container_sucess{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.modal__title{
  font-style: bold;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.3125rem / 1.5rem;
}

.modal__text{
  font-family: var(--text);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: hsl(202.7,28%,31.6%); 
}

.text{
  font-family: 'Lato', Arial, sans-serif;
}