.container {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
}

.button {
  color: var(--white);
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  background-color: var(--cyan);
  font-size: 16px;
}
