:root {
  --lightgray: #ababab;
  --black: #1e1e1e;
  --white: #ffffff;
  --middle-gray: #bfbebe;
  --lightblack: #484848;
  --gray: hsl(0, 1%, 75%);
  --border: hsl(0, 0%, 63%);
  --primary: hsl(194, 75%, 44%);
  --primary-hover: hsl(194, 75%, 40%);
  --secondary: hsl(0, 0%, 54%);
  --secondary-hover: hsl(0, 0%, 50%);
  --success: hsl(126, 83%, 35%);
  --success-hover: hsl(126, 83%, 30%);
  --danger: hsl(0, 100%, 65%);
  --danger-hover: hsl(0, 100%, 60%);
  --edit: hsl(54, 77%, 51%);
  --edit-hover: hsl(54, 77%, 47%);
  --overlayColor: #acacac80;
  --boxShadow: rgba(0, 0, 0, 0.35);
  --danger: hsl(0, 77%, 53%);
}
