:root {
  --lightgray: #ababab;
  --black: #1e1e1e;
  --white: #ffffff;
  --primary: #de591f;
  --secondary: #898989;
  --success: #10a51f;
  --danger: #de1f1f;
  --overlayColor: #acacac80;
  --boxShadow: rgba(0, 0, 0, 0.35);
}
