.menu__item {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 655px) {
  .menu__item {
    max-height: 2.5rem;
  }
}
