.order {
  background: var(--white);
  min-width: 320px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 32px;
  grid-area: order;
}

.order__header {
  width: 100%;
  border-bottom: 1px solid var(--black);
}

.order__title {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}

.order__author {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 8px;
}

.order__list {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--black);
  overflow-y: auto;
}

.order__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* Coloquei margin-top no primeiro elemento da lista para fazer a lista começar por baixo */
.order__item:first-child {
  margin-top: auto;
}

.item__product {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
  width: 130px;
  display: block;
}

.item__price {
  display: block;
  font-size: 0.625rem;
  line-height: 1.5;
  font-weight: 400;
}

.item__total {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 700;
}

.item__quantity {
  font-size: 1rem;
  line-height: 1.19;
  font-weight: 400;
  margin: 0 24px;
}

.order__total-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order__total-text-bold {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
}

.order__total-text {
  display: block;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.5;
  margin-bottom: 27px;
}

.order__button {
  padding: 8px 80px;
  margin: auto;
}

.order__item-button {
  background-color: var(--white);
  border: none;
}

.order__item-button:hover {
  cursor: pointer;
}

.order__mobile-button {
  position: fixed;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  width: 280px;
  height: 44px;
  font-weight: 700;
  display: none;
}

@media screen and (max-width: 1200px) {
  .item__quantity {
    margin: 0;
  }

  .mobile-hidden {
    visibility: hidden;
  }

  .order {
    position: fixed;
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .order__mobile-button {
    display: block;
  }
}
