.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlayColor);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
}

.popup__container {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 6px 6px var(--boxShadow);
  padding: 32px 24px;
  min-width: 360px;
}

.popup_opened {
  display: flex;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.popup__close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
}

.popup__title {
  font-size: 24px;
}

.popup__image {
  max-width: 75vh;
  max-height: 75vh;
}

.popup__image-container {
  position: relative;
}

.popup__image-caption {
  display: block;
}

.popup__close-button_image {
  position: absolute;
  top: -20px;
  right: -20px;
}
