.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlayColor);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
}

.popup__container {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 6px 6px var(--boxShadow);
  padding: 32px 24px;
}

.popup_opened {
  display: flex;
}
