.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-basis: 164px;
}

.product__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  line-height: 1.25;
}

.product__price {
  font-weight: 700;
  color: var(--primary);
}

.product__name {
  font-size: 0.875rem;
}

.product__category {
  display: none;
}
