.seller {
  grid-area: seller;
  justify-self: flex-end;
  color: var(--lightgray);
}

.seller__card {
  display: flex;
  gap: 24px;
  padding: 4px 16px;
  background-color: var(--sellerCard);
  border-radius: 4px;
}

.seller__avatar {
  flex: 1;
}

.seller__name {
  font-size: 18px;
}

.seller__job {
  font-size: 14px;
  font-weight: normal;
}

.seller__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  font-size: 8px;
  align-self: flex-start;
}
