.navegacao {
  width: 500px;
  padding-top: 80px;
  padding-bottom: 24px;
  padding-left: 104px;
}

@media screen and (max-width: 800px) {
  .navegacao {
    align-self: center;
    padding-left: 0;
    width: 80%;
  }
}
