.products__grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
  width: 95%;
  height: 80%;
  max-width: 620px; 
  margin-inline: auto;
}

@media screen and (max-width: 1050px) {
  .products__grid{
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 620px) {
  .products__grid{
    grid-template-columns: 1fr;
  }

}